page-icon-list {
  .button-md {
    border-radius: 15px;
    background-color: #1a87e0;
    width: 6.2rem;
    height: 6.2rem;
    ion-icon {
      font-size: 40px;
    }
    &.activated {
      background-color: #13bba2;
    }
  }
}
