page-register-password {
  margin-top: 20px;
  form{
    display: flex;
    flex-direction: column;
    align-items: start;
    ion-item.item-md{
      padding-left: 0px;
      background-color: transparent;
      margin-bottom: 5px;
      ion-input {
        color: white;
        input::placeholder{
          color: white;
        }
      }
    }
    .error {
      color: white;
    }
    button {
      align-self: center;
    }
  }
}
