<form (ngSubmit)="setPassword()" [formGroup]="passwdForm">
  <ion-item>
    <ion-input name="Password"
      type="password"
      color="light"
      formControlName="passwd"
      placeholder="Password"
      [(ngModel)]="newPassword"
      clearInput></ion-input>
  </ion-item>
  <span class="error" *ngIf="!passwdForm.controls.passwd.valid  && (passwdForm.controls.passwd.dirty || submitAttempt)">The password is incorrect</span>
  <!-- The password have to contains at least a lower case character, a upper case charater, a special character, a number and
      be at least 8 characters long -->
  <ion-item>
    <ion-input name="Password Confirmation"
      type="password"
      color="light"
      formControlName="passwdConfirm"
      placeholder="Confirm password"
      [(ngModel)]="confirmation"
      clearInput></ion-input>
  </ion-item>
  <span class="error" *ngIf="!passwdForm.valid  && submitAttempt">The passwords are not identical</span>
  <button ion-button color="secondary" type="submit">
    Set password
  </button>
</form>
