page-authenticate {
  display: flex;
  flex-direction: column;
  align-items: center;
  ion-icon[name="finger-print"] {
    font-size: 3.5em;
    margin-bottom: 5%;
  }
  ion-label.label-md {
    margin-bottom: 0px;
  }
  ion-input {
    margin-bottom: 15px;
    color: white;
    border-bottom: 1px solid;
    input::placeholder{
      color: rgb(231, 231, 231);
    }
  }
}
