page-list-passwd {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  ion-fab[bottom] {
    bottom: 70px
  }

  p[ion-fixed]{
    z-index: 0;
    color: #b7b7b7;
    width: 100%;
  }

  .small-date{
    font-size: 1.4rem;
  }
}
