page-list-passwd {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  ion-fab[bottom] {
    bottom: 70px
  }

  .small-date{
    font-size: 1.4rem;
  }
}
